<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login e Registro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="styles/estilo1.css">
</head>
<body>
    <!-- Background Shapes -->
    <div class="background-shape top-left"></div>
    <div class="background-shape bottom-right"></div>

    <!-- Tela de Login -->
    <div class="container" id="login-container">
        <h1>Login</h1>
        <p>Por favor insira seu usuário, email e senha</p>

        <div class="input-container">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Usuário ou Email" required>
        </div>
        <div class="input-container">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Senha" required>
        </div>
        <div class="button-container">
            <button class="button">Login</button>
            <button class="button google-button">
                <i class="fab fa-google"></i> Continue com o Google
            </button>
        </div>
        <div class="link">
            Não tem cadastro? <a href="#" onclick="showRegister()">Registre-se!</a>
        </div>
    </div>

    <!-- Exibir Mensagem de Sucesso ou Erro -->
<% if (mensagem) { %>
    <div class="alert alert-success"><%= mensagem === 'success' ? 'Cadastro realizado com sucesso!' : mensagem %></div>
<% } %>


    <!-- Popup de Mensagem de Sucesso -->
    <div class="popup" id="success-popup">
        <span class="close" onclick="closePopup()">&times;</span>
        <p>Cadastro realizado com sucesso! Faça login.</p>
    </div>

    <!-- Tela de Registro -->
    <div class="container hidden" id="register-container">
        <h1>Cadastro</h1>
        <p>Por favor insira suas informações</p>
        <form id="cadastroCliente" action="/cadastro/cadastrar" method="POST">
            <div class="input-container">
                <i class="fas fa-user"></i>
                <input type="text" id="nome" name="nome" placeholder="Nome" required>
            </div>
            <div class="input-container">
                <i class="fas fa-id-card"></i>
                <input type="text" id="cpf" name="cpf" placeholder="CPF" required>
            </div>
            <div class="input-container">
                <i class="fas fa-id-card"></i>
                <input type="text" id="rg" name="rg" placeholder="RG">
            </div>
            <div class="input-container">
                <i class="fas fa-home"></i>
                <input type="text" id="endereco" name="endereco" placeholder="Endereço">
            </div>
            <div class="input-container">
                <i class="fas fa-phone"></i>
                <input type="text" id="telefone" name="telefone" placeholder="Telefone" required>
            </div>
            <div class="input-container">
                <i class="fas fa-envelope"></i>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="input-container">
                <i class="fas fa-calendar-alt"></i>
                <input type="date" id="data_nascimento" name="data_nascimento" required>
            </div>
            <div class="input-container">
                <i class="fas fa-lock"></i>
                <input type="password" id="senha" name="senha" placeholder="Senha" required>
            </div>
            <div class="input-container">
                <i class="fas fa-lock"></i>
                <input type="password" id="confirma_senha" name="confirma_senha" placeholder="Confirme a Senha" required>
            </div>
            <div class="button-container">
                <input type="submit" class="button" value="Cadastrar Cliente">
            </div>
        </form>
        <div class="link">
            Já tem uma conta? <a href="#" onclick="showLogin()">Login!</a>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
