<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel OtoMate</title>
    <link rel="stylesheet" href="/public/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <header class="hero">
        <div class="header-top">
            <h1 class="hotel-name">Hotel OtoMate</h1>
            <div class="header-buttons">
                <a href="/public/views/reserva.html">Reservas</a>
                <a href="/public/views/login.html">Login</a>
                <a href="/public/views/cadastro.html">Cadastrar-se</a>
            </div>
        </div>
        <div class="header-content">
            <h1>Bem-vindo ao Hotel Otomate</h1>
            <p>Um refúgio sereno, onde colinas verdejantes se fundem suavemente
                com a imensidão do céu azul</p>
        </div>
    </header>

    <!-- Bloco 1 -->
    <section class="content-block block-1">
        <h2>Hospede-se no Hotel OtoMate</h2>
        <div class="block-item text">
            <p>Otomate é um hotel aconchegante e simples à beira da estrada, perfeito para quem
                busca uma parada relaxante durante a viagem. Localizado em uma área tranquila, oferecemos uma
                experiência acolhedora com conforto e praticidade. Os hóspedes podem desfrutar de um ambiente tranquilo,
                ideal para descansar e recarregar as energias.</p>
        </div>
        <div class="block-item image"><img src="/public/img/hotel2.png" alt="Imagem Hotel"></div>
        <hr>
        <h2>Nosso Lago</h2>

        <div class="block-item image"><img src="/public/img/hotel3.png" alt="Imagem Hotel"></div>
        <div class="block-item text">
            <p>Um hotel com um lago encantador pode ser um verdadeiro refúgio em um dia estressante. O Otomate
                proporciona a você experiências de bem-estar incomparáveis, com seu lago deslumbrante localizado no topo
                das colinas, oferecendo vistas panorâmicas de tirar o fôlego. A frescura das águas se harmoniza com a
                beleza natural ao redor, criando uma atmosfera perfeita para relaxamento. Além disso, o Otomate conta
                com diversas áreas aconchegantes para você descansar e se deixar levar pelo momento.</p>
        </div>

    </section>

    <!-- Bloco 2 -->
    <section class="content-block block-2">
        <h2>Cômodos</h2>


        <div class="block-item text">

            <p>As acomodações do Otomate são cuidadosamente projetadas para oferecer conforto aconchego. Cada quarto
                possui uma decoração charmosa, com camas macias e roupas de cama de qualidade que garantem uma boa noite
                de sono. Além disso, os hóspedes podem contar com ar-condicionado, Wi-Fi gratuito e amenities que tornam
                a
                estadia ainda mais agradável.</p>
        </div>
        <div class="block-item image"><img src="/public/img/hotel4.png" alt="Imagem Hotel"></div>
        <hr>

        <h2>Café da Manhã</h2>
        <div class="block-item image"><img src="/public/img/hotel5.png" alt="Imagem Hotel"></div>
        <div class="block-item text">

            <p>O café da manhã oferece uma experiência memorável que combina simplicidade e sabor. O ambiente acolhedor
                cria um cenário tranquilo.
                O aroma do café recém-passado completa a experiência, tornando o início do dia um momento especial e
                relaxante, onde cada mordida e gole é um convite ao prazer.</p>
        </div>
    </section>

    <!-- Bloco 3 -->
    <section class="content-block block-1">
        <h2>Atividades externas</h2>

        <div class="block-item text">

            <p>Oferecemos experiências que nutrem a mente e o corpo, garantindo uma sensação renovada de satisfação.
                Para as crianças, temos um parquinho ao ar livre, onde podem brincar e se divertir em segurança,
                enquanto os pais desfrutam da tranquilidade da natureza ao redor.</p>
        </div>
        <div class="block-item image"><img src="/public/img/hotel6.png" alt="Imagem Hotel"></div>

        <hr>
        <h2>Passeios</h2>
        <div class="block-item image"><img src="/public/img/hotel7.png" alt="Imagem Hotel"></div>
        <div class="block-item text">

            <p>No Hotel Otomate, os hóspedes podem desfrutar de momentos tranquilos no píer sobre o lago, ideal para
                relaxar e contemplar a paisagem serena. Para uma experiência mais ativa, os passeios a cavalo pelos
                campos oferecem vistas deslumbrantes ao pôr do sol, criando uma conexão especial com a natureza. </p>
        </div>

    </section>

    <!-- Bloco 4 -->
    <section class="content-block block-2">
        <h2>Delícias da Cozinha</h2>
        <div class="block-item text">

            <p>No Hotelotomatena gastronomia celebração da culinária local, onde cada prato conta uma história.
                Oferecemos uma experiência gastronômica que não só alimenta, mas
                também enriquece, permitindo que nossos hóspedes descubram a rica tradição culinária que faz parte da
                nossa identidade.</p>
        </div>
        <div class="block-item image"><img src="/public/img/hotel8.png" alt="Imagem Hotel"></div>
        <hr>
        <h2>Ingredientes Caseiros</h2>

        <div class="block-item image"><img src="/public/img/hotel9.png" alt="Imagem Hotel"></div>
        <div class="block-item text">Com uma seleção de pães frescos, frutas da estação e delícias caseiras, cada
            refeição é preparada com carinho para proporcionar um sabor único. Servido em um espaço agradável, o café da
            manhã é a forma perfeita de começar o dia, garantindo energia e disposição para as aventuras que o aguardam.
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-top">
            <h1>Você está pronto para conhecer o Hotel OtoMate?</h1>
        </div>
        <div class="footer-bottom">
            <div class="logo"> <img src="/public/img/logotipo.png" alt="Logo"></div>
            <div class="footer-item">Hotel e Restaurante Otomate<br>
                Rodovia Br-101, KM 250<br>
                Bairro Vista Livre (MG)</div>
            <div class="footer-item">Telefone: (42) 99659-9009 <br>
                Telefone: (42) 91134-9679
            </div>
        </div>
    </footer>

    <script src="scripts.js"></script>
</body>

</html>